<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matt.dad.mumtoson"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <permission
        android:description="@string/nsd_service_permission_desc"
        android:label="NSD_SERVICE_PERMISSION"
        android:name="zed.tools.lib.nsdconnect.NSD_SERVICE_PERMISSION"
        android:protectionLevel="normal" />
    
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="18" />
    
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
            
    <uses-permission
        android:name="zed.tools.lib.nsdconnect.NSD_SERVICE_PERMISSION"
        android:required="true" />
    
    <application
        android:icon="@drawable/nsd_default"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name="zed.tools.lib.nsdconnect.NsdService"
            android:enabled="true"
            android:process=":remote"
            android:permission="zed.tools.lib.nsdconnect.NSD_SERVICE_PERMISSION"
        >
            
            <!--
            android:debuggable="true"
            android:label="NsdService"
            android:isolatedProcess="true"
            -->
            <intent-filter>
                <action android:name="zed.tools.lib.nsdconnect.NsdService" />
            </intent-filter>
        </service>
        
        <activity
            android:name="matt.dad.mumtoson.OrderCaller"
            android:label="@string/app_name"
			android:launchMode="singleTask"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|fontScale|smallestScreenSize|layoutDirection"
        >
            <!--
           		android:documentLaunchMode="intoExisting"
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>